#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.patch
*.gcno

#
# Top-level generic files
#
tags
TAGS
vmlinux
System.map
Module.markers
Module.symvers
!.gitignore
!.mailmap

#
# Generated include files
#
include/asm
include/asm-*/asm-offsets.h
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h
include/linux/bounds.h
include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

configure-stamp
crashkernel-configure-stamp
crashkernel-stamp
debian/ape-algo-pr.debhelper.log
debian/ape-algo-pr.postinst
debian/ape-algo-pr.substvars
debian/ape-algo-pr/
debian/build/
debian/crashkernel.debhelper.log
debian/crashkernel.substvars
debian/crashkernel/
debian/files
debian/kernel-d-debug.debhelper.log
debian/kernel-d-debug.substvars
debian/kernel-d-debug/
debian/kernel-d-modules-debug.debhelper.log
debian/kernel-d-modules-debug.postinst
debian/kernel-d-modules-debug.postrm
debian/kernel-d-modules-debug.substvars
debian/kernel-d-modules-debug/
debian/kernel-d-modules.debhelper.log
debian/kernel-d-modules.postinst
debian/kernel-d-modules.postrm
debian/kernel-d-modules.substvars
debian/kernel-d-modules/
debian/kernel-d.debhelper.log
debian/kernel-d.substvars
debian/kernel-d/
debian/kernel-debug.debhelper.log
debian/kernel-debug.substvars
debian/kernel-debug/
debian/kernel-flasher.debhelper.log
debian/kernel-flasher.postinst
debian/kernel-flasher.substvars
debian/kernel-flasher/
debian/kernel-headers.debhelper.log
debian/kernel-headers.substvars
debian/kernel-headers/
debian/kernel-modules-debug.debhelper.log
debian/kernel-modules-debug.postinst
debian/kernel-modules-debug.postrm
debian/kernel-modules-debug.substvars
debian/kernel-modules-debug/
debian/kernel-modules-extra.debhelper.log
debian/kernel-modules-extra.postinst
debian/kernel-modules-extra.postrm
debian/kernel-modules-extra.substvars
debian/kernel-modules-extra/
debian/kernel-modules-profiling.debhelper.log
debian/kernel-modules-profiling.postinst
debian/kernel-modules-profiling.postrm
debian/kernel-modules-profiling.substvars
debian/kernel-modules-profiling/
debian/kernel-modules-test.debhelper.log
debian/kernel-modules-test.postinst
debian/kernel-modules-test.postrm
debian/kernel-modules-test.substvars
debian/kernel-modules-test/
debian/kernel-modules.debhelper.log
debian/kernel-modules.postinst
debian/kernel-modules.postrm
debian/kernel-modules.substvars
debian/kernel-modules/
debian/kernel-source.debhelper.log
debian/kernel-source.substvars
debian/kernel-source/
debian/kernel.debhelper.log
debian/kernel.substvars
debian/kernel/
debian/linux-kernel-headers.debhelper.log
debian/linux-kernel-headers.substvars
debian/linux-kernel-headers/
debugkernel-configure-stamp
debugkernel-modules-stamp
debugkernel-stamp
kernel-source-stamp
kernel-stamp
modules-stamp
source-copy-stamp
source-stamp
